{% extends 'public/templates/public_template.html' %}

{% block title %}Upload image{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Upload image</h1>
            <hr>
            <form action="/upload-image" method="POST" enctype="multipart/form-data">
                <label>Select image</label>
                <div class="custom-file">
                    <input name="ímage" type="file">
                    <label>Select image</label>
                </div>
                <button type="submit" class="'btn btn-primary">Upload image</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}